/*Clear Declaration*/
*{
    margin:0;
    padding:0;
}
/*Box Demension */
.box1{
    width: 700px;
    height: 590px;
    border:2px solid red;
    background-image: url(../html_css_basic/image/background.jpg);
    background-repeat:no-repeat;
    /*background-repeat: repeat;*/
    /*background-repeat:repeat-x;*/
    /*background-repeat: repeat-y;*/
background-position: right top;
background-position: right bottom;
background-position: center center;
background-size: cover;
/*background-size:contain;*/
color:aqua;
text-shadow: 5px 4px 6px red;
font-size: 3em;
text-align: center;
}
.box2{
    width: 700px;
    height: 590px;
    border:0px solid blue;
    background-image: url(../html_css_basic/image/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left bottom;
    color:aqua;
    text-shadow: 10px 2px 4px blueviolet;
    font-size: 50px;
    text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box3{
    width: 700px;
    height: 590px;
    border:3px solid purple;
    background-image: url(../html_css_basic/background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    color:blue;
    text-shadow: 5px 5px 5px red;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.box4{
    width: 700px;
    height: 590px;
    border:10px solid pink;
    background-image: url(../html_css_basic/image/background4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:brown;
    text-shadow: 10% 5% 3% blue;
    font-size: 10em;
    text-align: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}