table,th,td,tr{
    border:2px solid black;
    width:60%;
    empty-cells: hide;
    border-collapse: separate;
    border-spacing: 5px 10px;
    color:red;
}
.first{
    background-color: burlywood;
    text-align: center;
}