.text{
    text-shadow:2px 2px 3px blue;
}
.text1{
    text-shadow: 3px 4px 5px red;
}
.text2{
    text-indent: 60px;
}
.text3{
    text-indent: 10%;
}
.text4{
    text-indent: 5em;
}
.text5{
    text-align: left;
}
.text6{
    text-align: center;
}
.text7{
    text-align:right;
}
.letter10{
    letter-spacing:  10px;
}
.letter20{
    letter-spacing: 20px;
}
.letter30{
    letter-spacing: 30px;
}
.letter10{
    word-spacing: 10px;
}
.word20{
    word-spacing: 20px;
}
.word30{
    word-spacing: 30px;
}
ol li.decimal-zero{
    list-style-type: decimal-leading-zero;
}
ol li.lower-alpha{
    list-style-type: lower-alpha;
}
ol li.upper-alpha{
    list-style-type: upper-alpha;
}
ol li.lower-roman{
    list-style-type: lower-roman;
}
ol li.upper-roman{
    list-style-type: upper-roman;
}
ul li.none{
    list-style: none;
}
ul li.disc{
    list-style: disc;
}
ul li.circle{
    list-style: circle;
}
ul li.square{
    list-style: square;
}
ul.a{
    list-style-position: inside;
}
ul.b{
    list-style-position: outside;
}